<div class="container">
    <div class="carta">
        <h1>Cursos</h1>
        <h2>HackerRank</h2>
        <ul>
            <li><a href="https://www.hackerrank.com/certificates/ad87f4fe9119">Java(Basic)</a></li>
            <li><a href="https://www.hackerrank.com/certificates/dfc41df29dfa">Python(Basic)</a></li>
            <li><a href="https://www.hackerrank.com/certificates/1ddd65b6ee53">SQL(Basic)</a> </li>
            <li><a href="https://www.hackerrank.com/certificates/3ce6f01c7ae2">SQL(Intermediate)</a></li>
            <li><a href="https://www.hackerrank.com/certificates/425facd09793">SQL(Advanced)</a></li>
        </ul>
    </div>
</div>