<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/tarjeta.css">
    <link rel="stylesheet" href="../assets/busqueda.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <form action="/noticias" method="get">
            <div class="input-group">
                <input type="search" name="clave" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <input type="submit" value="Buscar">
            </div>
        </form>
    </nav>


    <p>Pagina de noticias</p>
    <div>{{{datos}}}</div>


</body>

</html>