<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="main">Sección principal</a></li>
            <li><a href="hobbies">Hobbies</a></li>
            <li><a href="fotos">Fotos</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </nav>

 
    <div class="carta">


        <section id="fotos">
            <h1>Fotos</h1>
            <div class="row"> 
                <div class="column">
                  <img src="../assets/images/img1.jpg" style="width:100%">
                  <img src="../assets/images/img2.jpg" style="width:100%">

                </div>
                <div class="column">
                    <img src="../assets/images/img3.jpg" style="width:100%">
                    <img src="../assets/images/img4.jpg" style="width:100%">
                </div>  
                <div class="column">
                    <img src="../assets/images/img5.jpg" style="width:100%">
                    <img src="../assets/images/img6.jpg" style="width:100%">
                </div>
                <div class="column">
                    <img src="../assets/images/img7.jpg" style="width:100%">
                </div>
            </div>
        </section>
    </div>
</body>
</html>