<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="main">Sección principal</a></li>
            <li><a href="hobbies">Hobbies</a></li>
            <li><a href="fotos">Fotos</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </nav>

    <div class="carta">

        <section id="hobbies">
            <h1>Hobbies</h1>
            <div>
                <ul>
                    <li>Cocina</li>
                    <li>Gimnasio</li>
                    <li>Dibujo</li>
                    <li>Lectura</li>
                    <li>La chisma</li>
                </ul>
            </div>
            <div>
                <img src="../assets/images/imgHobbie.jfif" alt="">
            </div>

        </section>



    </div>
    
</body>
</html>