<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Document</title>
</head>
<body>

    <div class="carta">
        <h1>Humberto Peñuelas Almeida</h1>
        <ul class="menu">
            <li><a href="main">Sección principal</a></li>
            <li><a href="hobbies">Hobbies</a></li>
            <li><a href="fotos">Fotos</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </div>

</body>
</html>