<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="main">Sección principal</a></li>
            <li><a href="hobbies">Hobbies</a></li>
            <li><a href="fotos">Fotos</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </nav>

    <div class="carta">
        <section id="main">
            <h1>Sección principal</h1>
            <div>
                <ul>
                    <li>Nombre: Humberto Peñuelas Almeida</li>
                    <li>Edad: 25 años</li>
                    <li>Expediente: is723382</li>
                    <li>Carrera: Sistemas Computacionales</li>
                    <li>Origen: Culiacán, Sinaloa</li>
                </ul>
            </div>
            <div>
                <img src="assets/images/imgPrincipal.jpg" alt="">
            </div>
        </section>


    </div>
</body>
</html>