div {
    height: 10%;

    padding: 0%;
    margin: 0%;
    background-color: #388087;
    color: white;
    
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 20px;
    font-family: Arial,
    sans-serif;
    text-align: center;
}