<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div>
    <a href="index"><span class="fas fa-home"></span>Sección principal</a>
    <a href="educacion"><span class="fas fa-graduation-cap"></span>Educación</a>
    <a href="proyectos"><span class="fas fa-project-diagram"></span>Proyectos</a>
    <a href="cursos"><span class="fas fa-certificate"></span>Cursos</a>
    <a href="contacto"><span class="fas fa-user"></span>Contacto</a>
</div>